.Prediction {

    font-size:  17px;
    color: white;
    border: 1px solid gray;
    background-color: rgb(0 0 0 /0.4);
 }

.card{
    background-color: transparent;
}

 


h1 {
    text-align: center;
    color: white;
    
}
body{
/*    background-color: #091553;
*/    text-align: center;
	  background-image: url('./image.jfif');
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	  background-size: cover;
	}

 
a {
    color: #f1f9f9;
    
    text-align: center;
}

a:hover {
    color: #0c32f0;
  }

 